body {
    background-image: url(./img/background/abstract-antique-backdrop-background-164005.jpg);
    background-size: cover;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(206, 179, 89);
}

h1 {
    background-color: rgba(252, 185, 2, 0.5);
    border-radius: 30%;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(0, 0, 0);
}